<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartcity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Berita"></activity>
        <activity android:name=".DataPenduduk"></activity>
        <activity android:name=".Laporan"></activity>
        <activity android:name=".LihatBerita"></activity>
        <activity android:name=".LihatDataPenduduk"></activity>
        <activity android:name=".LihatLaporan"></activity>
        <activity android:name=".UpdateDataPenduduk"></activity>
        <activity android:name=".UpdateBerita"></activity>
        <activity android:name=".UpdateLaporan"></activity>
        <activity android:name=".MainMenu"></activity>
    </application>

</manifest>